@using Core
@inject NavigationManager Nav

<article class="ad-card" @onclick="() => GotoDetailPage()">
    <div class="ad-media">
        <img src="@Annonce.ImageUrl" alt="Annonce billede" />
        <div class="price-badge">@Annonce?.Price.ToString("N0") kr.</div>
    </div>

    <div class="ad-body">
        <div class="ad-meta">@Annonce.Location</div>
        <div class="ad-title">@Annonce.Title</div>
        @if (!string.IsNullOrWhiteSpace(Annonce.Description))
        {
            <p class="ad-desc">@Annonce.Description</p>
        }
    </div>

    <div class="ad-footer">
        <strong>@Annonce.Category</strong>
    </div>
</article>
@code {
    [Parameter] public Annonce Annonce { get; set; }


    private Task GotoDetailPage()
    {
        var aid = Annonce.AnonnceId;
            Nav.NavigateTo($"annonce/{aid}");
            return Task.CompletedTask;
    }

}