@page "/indkøb"
@inject HttpClient Http
@using Core
@using PW1
@using Client.Components

<h3>Mine Indkøb</h3>


@if (mineIndkob == null)
{
    <p>Loader...</p>
}
else if (!mineIndkob.Any())
{
    <p>Ingen produkter</p>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (var p in mineIndkob)
        {
            <div class="card m-2 p-2" style="width:200px;">
                <h5>@p.Title</h5>
                <p>@p.Description</p>
                <p>Pris: @p.Price</p>
                <p>Location: @p.Location</p>
                <p>SælgerId: @p.SaelgerId</p>
                <p>KobtDato: @p.KobtDato.ToLocalTime()</p>
            </div>
        }
    </div>
}


@code {
    private List<MineIndkob>? mineIndkob;

    protected override async Task OnInitializedAsync()
    {
        await LoadMineIndkøb();
    }

    private async Task LoadMineIndkøb()
    {
        // Skift URL til det endpoint, der returnerer dine køb
        mineIndkob = await Http.GetFromJsonAsync<List<MineIndkob>>($"http://localhost:{PASSWORD.localPort}/api/mineindkob");
    }
}
