@page "/add-annonce"
@inject NavigationManager Nav
@using Core
@inject HttpClient http

<h1 class="mb-3 mt-3">Tilføj annonce</h1>

<EditForm Model="@aAnnonce" OnValidSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-12 mb-3">
        <label for="Title">Titel</label>
        <InputText id="Title" @bind-Value="aAnnonce.Title" class="form-control" />
    </div>

    <div class="col-md-12 mb-3">
        <label for="Description">Beskrivelse</label>
        <InputTextArea id="Description" @bind-Value="aAnnonce.Description" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="Price">Pris</label>
        <InputNumber id="Price" @bind-Value="aAnnonce.Price" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="Category">Kategori</label>
        <InputSelect id="Category" @bind-Value="aAnnonce.Category" class="form-control">
            @foreach (var c in categories)
            {
                <option value="@c">@c</option>
            }
        </InputSelect>
    </div>

    <div class="col-md-6 mb-3">
        <label for="Status">Status</label>
        <InputSelect id="Status" @bind-Value="aAnnonce.Status" class="form-control">
            @foreach (var s in statuses)
            {
                <option value="@s">@s</option>
            }
        </InputSelect>
    </div>

    <div class="col-md-6 mb-3">
        <label for="LocationId">Location ID</label>
        <InputNumber id="LocationId" @bind-Value="aAnnonce.LocationId" class="form-control" />
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilføj annonce</button>
    </div>
    <div class="col-12 mb-3">
    <button class="btn btn-primary" @onclick="GoToAnnoncer">
        Gå tilbage til Mine annoncer
    </button>
    </div>
</EditForm>

@code {
    private List<Annonce> annoncer = new();

    private string[] categories = new[] { "Elektronik", "Møbler", "Tøj", "Andet" };
    private string[] statuses = new[] { "Aktiv"};

    private Annonce aAnnonce = new()
    {
        Anmodninger = new List<Anmodning>(),
        Status = "Aktiv"
    };

    private int brugerId = 1; // midlertidig bruger, indtil login implementeres


    private async Task HandleSubmit()
    {
        // Tilføj annonce til listen
        annoncer.Add(aAnnonce);
        await http.PostAsJsonAsync("http://localhost:5044/api/annoncer", annoncer);
        annoncer = new(); // clear fields in form
        Nav.NavigateTo("annoncer");
        // Ryd formular
        aAnnonce = new Annonce
            {
                Anmodninger = new List<Anmodning>(),
                Status = "Aktiv",
                BrugerId = brugerId,
                SælgerId = brugerId
            };
         
    }

        public void GoToAnnoncer()
        {
            Nav.NavigateTo("/annoncer");
        }

    }
